<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Szilvi Reddit</title>
</head>
<body>
<a class="newpostlink" href="/posts/add">Add new post</a>

<h1>Posts</h1>

<table class="tableoflists" id="posts_list">
    <thead>
    <tr>
        <th>SCORES</th>
        <th colspan="2">Actions</th>
        <th>Content</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="post : ${posts}">
        <td class="listedscores" th:text="${post.score}"></td>
        <td> <a th:href="@{'/posts/{id}/upvote'(id=${post.id})}">+</a> <a th:href="@{'/posts/{id}/downvote'(id=${post.id})}">-</a></td>
        <td class="listedcontents" th:text="${post.content}"></td>
        <td class="date" th:text="${#dates.format(post.dateWhenCreated, 'dd/MM/yyyy, HH:mm:ss')}"></td>
    </tr>
    
    <tr>
        <td></td>
        <td><a class="nextpage" href="/posts/"> &lt;&lt;Previous posts </a></td>
        <td></td>
        <td><a class="nextpage" href="/posts/">Next posts>></a></td>

    </tr>
    </tbody>
</table>

</body>
</html>