<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Szilvi Reddit</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
</head>
<body class="container theme-showcase">

<div class="jumbotron">
    <h1>Posts</h1>
    <a class="btn btn-lg btn-link" href="/posts/add">Add new post</a>
</div>


<table class="table" id="posts_list">
    <thead>
    <tr>
        <th>SCORES</th>
        <th>Actions</th>
        <th>Content</th>
        <th>Date when created</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="post : ${posts}">
        <td th:text="${post.score}"></td>
        <td> <a th:href="@{'/posts/{id}/upvote'(id=${post.id})}">+</a> <a th:href="@{'/posts/{id}/downvote'(id=${post.id})}">-</a></td>
        <td th:text="${post.content}"></td>
        <td th:text="${#dates.format(post.dateWhenCreated, 'dd/MM/yyyy, HH:mm:ss')}"></td>
    </tr>
    </tbody>
</table>
<div>
    <tr>
        <td><a class="btn btn-danger" href="#" th:href="@{'/posts?page=0&amp;size=5&amp;sort=score,desc'}">←First</a></td>
        <td><a class="btn btn-danger" th:if="${posts.hasPrevious()}" href="#" th:href="@{'/posts?page=' + ${posts.getNumber()-1} + '&amp;size=5&amp;sort=score,desc' }">Go to previous</a></td>
        <td><a class="btn btn-danger" th:if="${posts.hasNext()}" href="#" th:href="@{'/posts?page=' + ${posts.getNumber()+1} + '&amp;size=5&amp;sort=score,desc' }">Go to next</a></td>
        <td><a class="btn btn-danger" href="#" th:href="@{'/posts?page=' + ${posts.getTotalPages()-1} + '&amp;size=5&amp;sort=score,desc' }">Last →</a></td>
    </tr>

</div>

</body>
</html>