
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Calorie Counter welcome</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="mylayout.css"/>


</head>
<body>
<div class="container">
    <h2>The Calorie Counter App</h2>
    <div class="col-md-12">
        <h3>Welcome to the calorie counter page!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl libero, molestie vitae orci nec, luctus
            feugiat lorem. Maecenas eu massa non neque blandit tempor. Interdum et malesuada fames ac ante ipsum primis
            in faucibus. Suspendisse id consectetur enim, et cursus nisl. Ut volutpat tempor accumsan. Aliquam et libero
            id nunc consectetur consequat at eu nibh. Nam ut justo in sapien fermentum facilisis.</p>
        <p>Nullam sodales neque fringilla molestie facilisis. Morbi nisl neque, malesuada convallis felis vitae,
            pharetra maximus lorem. Fusce tincidunt sapien pretium leo scelerisque, eget egestas nisi dapibus. Sed ut
            magna egestas, condimentum ex vel, tempor justo. Duis ut magna et orci tincidunt vestibulum. Suspendisse sed
            enim nec mi convallis aliquam. Sed id urna ultricies dolor dictum vulputate. Nulla porta auctor
            sagittis.</p>
        <h3>In order to get in to the page, please sign in.</h3>
    </div>
</div>
<div class="container">
    <form name="f" th:action="@{/login}" method="post" class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <div th:text="${error}" class="alert alert-danger" style="color: red">
        </div>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="true"/>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password"
               required="true"/>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div>


</body>
</html>