body {
  background: url(brick-site-background.jpg) repeat-y;
  background-size: auto;
  font-family: 'Rubik', sans-serif;
  width: 100%;
}

hgroup {
  height: 500px;
  width: 100%;
  background: url(CVphoto2.jpg) no-repeat;
  background-size: 1500px 500px;
  background-position: center;
  background-color: grey;
  background-blend-mode: lighten;
  font-size: 190%;
  font-family: "Arial";
  color: #212F3D;
  margin: 0;
}

h2 {
  padding-top: 250px;
}
h1, h2 {
  padding-left: 200px;
  margin: 0;
}

section {
  margin: 20px 300px;
  font-size: 130%;
}
h3 {
  margin-top: 50px;
}
h4 {
  margin-bottom: 0px;
}
h5 {
  font-style: italic;
  margin: 0px 0px -20px 0px;
}
.others hr {
  border: 2px solid black;
  width: 1300px;
  margin-left: -225px;
}
ul {
  margin: 0 20px;
}
div.blockquote {
  background: linear-gradient(grey,#515A5A);
  width: 90%;
  height: 80px;
  margin-left: 75px;
  padding-top: 50px;
  text-align: center;
  quotes:"\201C""\201D";
  font-size: 35px;
  font-weight: bold;
  color: #ccc;
}
div.blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
