
body {
    background: #f6f6f6;
  }

header {
  width: 100%;
  position: relative;
  height: 80px;
}

.firstlinelinks {
  position: absolute;
  top: 0;
  right: 10px;
}
img {
  width: 110px;
  margin: 10px;
}

.menu1 {
  position: absolute;
  left: 300px;
  top: 30px;
}
.menu2 {
  position: absolute;
  right: 10px;
 top: 30px;
 display: flex;
}
aside {
  min-width: 160px;
  margin-top: 50px;
  padding-top: 20px;
}
ul {
  list-style: none;
}
.container {
  display: flex;
}
main {
  background-color: white;
  border-left: 1px solid #b3ecff;
  border-top: 1px solid #b3ecff;
}
